Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

feat: add WebSocket API and sidebar panel with overview tab
  .github/workflows/frontend.yaml
  .gitignore
  .pre-commit-config.yaml
  .release-please-config.json
  CLAUDE.md
  README.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/manifest.json
  custom_components/kubernetes/websocket_api.py
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/kubernetes-panel.ts
  frontend/src/utils/load-ha-elements.ts
  frontend/src/views/k8s-overview.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  renovate.json
  tests/test_init.py
  tests/test_websocket_api.py
Due: homeassistant-manifest-check, python-import-check

feat(panel): add nodes and pods tabs
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/websocket_api.py
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-pods-table.ts
  tests/test_websocket_api.py
Due: python-import-check

feat(panel): add workloads tab with management controls
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/services.py
  custom_components/kubernetes/websocket_api.py
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-workloads.ts
  frontend/vite.config.ts
  tests/test_websocket_api.py
Due: python-import-check

feat(panel): add settings tab and enable_panel toggle
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/translations/en.json
  custom_components/kubernetes/websocket_api.py
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-settings.ts
  tests/test_config_flow.py
  tests/test_init.py
  tests/test_services.py
  tests/test_websocket_api.py
Due: python-import-check

fix(panel): polish UI, fix timestamps, and address review feedback
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/services.py
  custom_components/kubernetes/websocket_api.py
  docs/ENTITIES.md
  frontend/src/kubernetes-panel.ts
  frontend/src/utils/load-ha-elements.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-settings.ts
  frontend/src/views/k8s-workloads.ts
  tests/conftest.py
  tests/test_init.py
  tests/test_services.py
Due: python-import-check

build(frontend): rebuild panel bundle with vite 7.3.1
  custom_components/kubernetes/frontend/kubernetes-panel.js
Due: none

chore(main): release 0.11.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

test: add pytest-homeassistant-custom-component and clean up conftest
  CLAUDE.md
  pyproject.toml
  renovate.json
  tests/conftest.py
Due: none

build(deps): drop redundant pytest pin
  pyproject.toml
Due: none

test: migrate test_init.py and test_device.py to real HA fixtures
  CLAUDE.md
  tests/test_device.py
  tests/test_init.py
Due: none

docs: document future test directory structure and update migration status
  CLAUDE.md
Due: none

test: migrate test_config_flow.py to real HA config flow fixtures
  tests/test_config_flow.py
Due: none

test: migrate test_coordinator.py and test_services.py to real HA fixtures
  tests/test_coordinator.py
  tests/test_services.py
Due: none

ci: cache virtualenv and split validate into parallel lint + test jobs
  .github/workflows/tests.yaml
  renovate.json
Due: none

test: migrate entity platform tests to real HA fixtures (#120)
  CLAUDE.md
  tests/test_binary_sensor.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_switch.py
  tests/test_switch_platform.py
Due: none

fix: reuse coordinator's KubernetesClient in service handlers (#135)
  CLAUDE.md
  custom_components/kubernetes/services.py
  tests/test_services.py
Due: python-import-check

fix(frontend): type hass as HomeAssistant instead of any (#124)
  frontend/src/kubernetes-panel.ts
  frontend/src/types/homeassistant.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-settings.ts
  frontend/src/views/k8s-workloads.ts
Due: none

ci: verify committed frontend bundle matches fresh build (#123)
  .github/workflows/frontend.yaml
  CLAUDE.md
Due: none

feat: add real-time node CPU/memory usage to sidebar panel
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/kubernetes_client.py
  docs/CONFIGURATION.md
  docs/ENTITIES.md
  docs/RBAC.md
  docs/SETUP.md
  frontend/src/views/k8s-nodes-table.ts
  manifests/full/clusterrole.yaml
  manifests/minimal/clusterrole.yaml
  tests/test_coordinator.py
  tests/test_kubernetes_client.py
Due: python-import-check

fix: prevent duplicate entity registration on coordinator updates
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  tests/test_sensors.py
  tests/test_switch.py
Due: python-import-check

chore(main): release 0.12.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

