Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

fix(deps-frontend): lock file maintenance
  frontend/package-lock.json
Due: none

chore(main): release 1.2.3
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix(deps-frontend): update frontend dependencies to v8.59.2
  frontend/package-lock.json
Due: none

fix(deps): update dependency pytest-homeassistant-custom-component to v0.13.327
  pyproject.toml
Due: none

chore(main): release 1.2.4
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix(deps): update mypy to v2
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(deps-frontend): update dependency vite to v8.0.11
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
Due: none

fix(deps): update dependency pytest-homeassistant-custom-component to v0.13.330
  pyproject.toml
Due: none

chore(Renovate): ensure lockfile is bumped on Frontend dependency updates
  renovate.json
Due: none

fix(deps-frontend): update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add HA diagnostics platform
  custom_components/kubernetes/diagnostics.py
Due: python-import-check

test: cover diagnostics platform
  tests/test_diagnostics.py
Due: none

docs: document diagnostics download flow
  CLAUDE.md
  README.md
  docs/TROUBLESHOOTING.md
Due: none

feat: add HA system_health platform
  custom_components/kubernetes/system_health.py
Due: python-import-check

test: cover system_health platform
  tests/test_system_health.py
Due: none

docs: list system health in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

feat: surface silent failures as repair issues
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
Due: python-import-check

test: cover repair issue create and dismiss
  tests/test_repairs.py
Due: none

docs: list repair issues in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

