Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


chore(main): release 0.12.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix: add missing daemonset prefix handler in entity cleanup
  custom_components/kubernetes/coordinator.py
  tests/test_coordinator.py
Due: python-import-check

feat: add dynamic node discovery for binary sensors
  custom_components/kubernetes/binary_sensor.py
  docs/ENTITY_MANAGEMENT.md
  tests/test_binary_sensor.py
Due: python-import-check

refactor: move test_kubernetes_client.py to tests/unit/
  CLAUDE.md
  tests/unit/__init__.py
  tests/unit/test_kubernetes_client.py
Due: none

refactor: add thread-safe lazy import in config_flow.py
  custom_components/kubernetes/config_flow.py
Due: python-import-check

refactor: simplify workload extraction in services.py
  custom_components/kubernetes/services.py
Due: python-import-check

refactor: add generic fetch infrastructure in kubernetes_client.py
  custom_components/kubernetes/kubernetes_client.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

docs: update CLAUDE.md for kubernetes_client, services, and config_flow refactoring
  CLAUDE.md
Due: none

fix: add data lock to coordinator to prevent watch/poll race condition
  custom_components/kubernetes/coordinator.py
Due: python-import-check

fix: remove redundant coordinator refresh in sensor and binary_sensor setup
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/sensor.py
Due: python-import-check

fix: change SSL verification default to True for secure-by-default behavior
  custom_components/kubernetes/const.py
  tests/test_websocket_api.py
Due: python-import-check

refactor: consolidate deployment and statefulset switch classes into parameterized base
  custom_components/kubernetes/switch.py
  tests/test_switch.py
Due: python-import-check

refactor: replace fragile unique_id parsing with set-based lookup in entity cleanup
  custom_components/kubernetes/coordinator.py
Due: python-import-check

fix: return None instead of 0.0 when workload metrics are unavailable
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

fix: guard against None coordinator.data in sensor setup
  custom_components/kubernetes/sensor.py
Due: python-import-check

test: add tests for coordinator watch loop, populate, and apply_watch_event
  tests/test_coordinator.py
Due: none

test: add tests for CronJob switch suspend/resume/update operations
  tests/test_switch.py
Due: none

docs: update CLAUDE.md for coordinator data lock and switch refactoring
  CLAUDE.md
Due: none

docs: add license, tests, coverage, release, and ko-fi badges to README
  README.md
Due: none

test: improve test coverage across all modules for >90% target
  CLAUDE.md
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_init.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_websocket_api.py
  tests/unit/test_kubernetes_client.py
Due: none

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps-frontend): update frontend dependencies to v8.57.1
  frontend/package-lock.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.318
  pyproject.toml
Due: none

build(deps): update ruff to v0.15.7
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.319
  pyproject.toml
Due: none

chore: update .gitignore
  .gitignore
Due: none

ci(renovate): rebuild frontend bundle after dependency updates
  renovate.json
Due: none

build(deps-frontend): update frontend dependencies
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
Due: none

feat: add pod deletion from sidebar panel
  CLAUDE.md
  README.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/websocket_api.py
  docs/RBAC.md
  frontend/src/views/k8s-pods-table.ts
  manifests/full/clusterrole.yaml
  tests/test_websocket_api.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

chore(main): release 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix: ensure delete button column is visible in pods table
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-pods-table.ts
Due: none
