Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

chore(Renovate): pin typescript major version
  renovate.json
Due: none

fix: distinguish same-named workloads across namespaces
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/switch.py
  custom_components/kubernetes/websocket_api.py
  docs/ENTITY_MANAGEMENT.md
  tests/test_coordinator.py
  tests/test_init.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_websocket_api.py
Due: python-import-check

chore(main): release 1.4.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update CLAUDE.md and gitignore
  .gitignore
  CLAUDE.md
Due: none

docs: describe live panel updates
  CLAUDE.md
  docs/CONFIGURATION.md
Due: none

feat(panel): add kubernetes/subscribe_updates websocket subscription
  custom_components/kubernetes/websocket_api.py
  tests/test_websocket_api.py
Due: python-import-check

feat(panel): live view updates via websocket subscription
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/types/homeassistant.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-workloads.ts
Due: none

test: cover same-named ingresses across namespaces
  tests/test_coordinator.py
Due: none

test: cover ingresses sensor async_update failure path
  tests/test_sensors.py
Due: none

feat: add Ingress fetching and parsing to Kubernetes client
  custom_components/kubernetes/kubernetes_client.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

feat: add kubernetes/ingresses/list websocket command
  custom_components/kubernetes/websocket_api.py
  tests/test_websocket_api.py
Due: python-import-check

feat: poll and watch Ingresses in the data coordinator
  custom_components/kubernetes/coordinator.py
  tests/conftest.py
  tests/test_coordinator.py
Due: python-import-check

feat: add Ingresses count sensor
  custom_components/kubernetes/const.py
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

feat: add Network tab with clickable Ingress URLs to sidebar panel
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-network.ts
Due: none

docs: document Ingress support, Network tab, and RBAC additions
  CLAUDE.md
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/ENTITIES.md
  docs/RBAC.md
  docs/SETUP.md
  docs/index.md
  manifests/full/clusterrole.yaml
  manifests/minimal/clusterrole.yaml
Due: none

test: update sensor and websocket command counts for ingress support
  tests/test_sensors.py
  tests/test_websocket_api.py
Due: none

test: cover ingress fetch error and empty paths
  tests/unit/test_kubernetes_client.py
Due: none

chore(main): release 1.5.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.5.0 changelog for end users
  CHANGELOG.md
Due: none

build(deps): update ruff to v0.15.21
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

