Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

feat: add node cordon/uncordon support
  CLAUDE.md
  README.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/services.yaml
  custom_components/kubernetes/switch.py
  docs/ENTITIES.md
  docs/RBAC.md
  docs/SERVICES.md
  manifests/full/clusterrole.yaml
  tests/test_services.py
  tests/test_switch.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

test: cover node service guard branches and switch lifecycle
  tests/test_services.py
  tests/test_switch.py
Due: none

fix: address review feedback on node cordon/uncordon
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/switch.py
  docs/ENTITIES.md
  docs/RBAC.md
  manifests/full/clusterrole.yaml
  tests/test_services.py
  tests/test_switch.py
Due: python-import-check

feat: add node cordon/uncordon support (per-node switch + services) (#326)
  CLAUDE.md
  README.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/services.yaml
  custom_components/kubernetes/switch.py
  custom_components/kubernetes/translations/en.json
  docs/ENTITIES.md
  docs/RBAC.md
  docs/SERVICES.md
  manifests/full/clusterrole.yaml
  tests/test_coordinator.py
  tests/test_services.py
  tests/test_switch.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

ci: replace CodeQL default setup with an advanced-setup workflow
  .github/workflows/codeql.yml
  CLAUDE.md
Due: none

docs: humanize 1.6.0 changelog for end users
  CHANGELOG.md
Due: none

chore(main): release 1.6.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): update ruff to v0.16.1
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.1 (#331)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update homeassistant to v0.13.351
  pyproject.toml
Due: none

build(deps): update homeassistant to v0.13.351 (#330)
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.66.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.66.0 (#332)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(rbac): package ServiceAccount and RBAC into a Helm chart
  .pre-commit-config.yaml
  chart/Chart.yaml
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/clusterrole.yaml
  chart/templates/clusterrolebinding.yaml
  chart/templates/serviceaccount-token-secret.yaml
  chart/templates/serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
  manifests/full/serviceaccount-token-secret.yaml
  manifests/full/serviceaccount.yaml
  manifests/minimal/clusterrole.yaml
  manifests/minimal/serviceaccount-token-secret.yaml
  manifests/minimal/serviceaccount.yaml
  scripts/render-manifests.sh
Due: none

ci: lint the Helm chart and verify the generated manifests
  .github/workflows/helm.yaml
  renovate.json
Due: none

ci: publish the RBAC chart to ghcr.io on release
  .github/workflows/release.yaml
  .release-please-config.json
Due: none

docs: document the Helm chart install path for RBAC
  CLAUDE.md
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/RBAC.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
Due: none

chore(main): release 1.7.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.7.0 changelog for end users
  CHANGELOG.md
Due: none

ci(deps-actions): update github-actions to v5
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

build(deps): update homeassistant to v0.13.353
  pyproject.toml
Due: none

build(deps): update homeassistant to v0.13.353 (#337)
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update frontend dev dependencies (#338)
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.355
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.355 (#339)
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.2
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.2 (#340)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(quality): set PARALLEL_UPDATES on all platforms, raise coverage gate to 95%
  CLAUDE.md
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/event.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  pyproject.toml
Due: python-import-check

test(config_flow): cover remaining lines for 100% config flow coverage
  custom_components/kubernetes/config_flow.py
  tests/test_config_flow.py
Due: python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

