Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


build(deps): update homeassistant to v0.13.346
  pyproject.toml
Due: none

build(deps): update mypy to v2.3.0
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.64.0
  frontend/package-lock.json
  frontend/package.json
Due: none

ci(deps-actions): update github-actions to v7
  .github/workflows/frontend.yaml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.1.5
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update ruff to v0.15.22
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(deps): update kubernetes to v36.0.3
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

chore(main): release 1.5.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

ci(deps-actions): update github-actions to v7
  .github/workflows/mkdocs.yaml
  .github/workflows/tests.yaml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.65.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update ruff to v0.16.0
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(docs): add trailing commas to satisfy ruff 0.16.0 markdown formatting
  docs/CRONJOBS.md
Due: none

fix(docs): add missing trailing comma in third CRONJOBS.md example
  docs/CRONJOBS.md
Due: none

chore(main): release 1.5.2
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): update patch updates to v4.6.1
  pyproject.toml
Due: none

build(deps): update homeassistant to v0.13.348
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.2.0
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add cordon_node/uncordon_node service translations
  custom_components/kubernetes/translations/en.json
Due: none

fix: keep node schedulable switches out of orphan cleanup
  custom_components/kubernetes/coordinator.py
  tests/test_coordinator.py
Due: python-import-check
