Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

build(deps-frontend): update frontend dev dependencies to ^8.70.0 (#372)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(config_flow): honor verify_ssl and ca_cert during setup validation
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  tests/test_config_flow.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

chore(frontend): rebuild bundle with the lockfile's vite version
  custom_components/kubernetes/frontend/kubernetes-panel.js
Due: none

feat(panel): suspend/resume CronJobs and cordon/uncordon nodes from the panel
  CLAUDE.md
  README.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/websocket_api.py
  docs/CONFIGURATION.md
  docs/CRONJOBS.md
  frontend/src/kubernetes-panel.ts
  frontend/src/styles/actions.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-workloads.ts
  tests/test_websocket_api.py
Due: python-import-check

test(websocket): drive cronjobs/suspend through the real WebSocket stack
  tests/test_websocket_api.py
Due: none

test(client): cover ExternalName without target and services without ports
  tests/unit/test_kubernetes_client.py
Due: none

feat(rbac): grant read access to services in both chart modes
  chart/templates/clusterrole.yaml
  docs/RBAC.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  manifests/full/clusterrole.yaml
  manifests/minimal/clusterrole.yaml
Due: none

feat(client): parse and fetch Kubernetes Services
  custom_components/kubernetes/kubernetes_client.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

feat(coordinator): fetch, bucket and watch Kubernetes Services
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  tests/conftest.py
  tests/test_coordinator.py
Due: python-import-check

feat(sensor): add Services Count sensor
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

feat(websocket): add kubernetes/services/list for the Network tab
  custom_components/kubernetes/websocket_api.py
  tests/test_websocket_api.py
Due: python-import-check

feat(repairs): raise a dedicated issue when a watched resource returns 403
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
  tests/test_coordinator.py
  tests/test_repairs.py
Due: python-import-check

feat(panel): list Kubernetes Services in the Network tab
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-network.ts
Due: none

test(sensor): cover device_info, bare-data fallback and bucket-present update for Services Count
  tests/test_sensors.py
Due: none

docs: describe Kubernetes Services support and the missing-permissions repair issue
  CLAUDE.md
  README.md
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/ENTITIES.md
  docs/TROUBLESHOOTING.md
  docs/index.md
Due: none

fix(repairs): keep fast polling when every watch stream is forbidden
  CLAUDE.md
  README.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/RBAC.md
  tests/test_coordinator.py
  tests/test_repairs.py
Due: python-import-check

fix(repairs): ignore an empty watch-task list in the all-forbidden check
  custom_components/kubernetes/coordinator.py
Due: python-import-check

test(sensor): count the Services Count sensor in the rich setup total
  tests/test_sensors.py
Due: none

chore(main): release 1.10.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.10.0 changelog
  CHANGELOG.md
Due: none

build(deps-actions): update dependency helm/helm to v4.3.0
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

