Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


chore(Renovate): enforce build(deps) prefix for pyproject.toml updates
  renovate.json
Due: none

chore(Renovate): automerge patch updates from pyproject.toml
  renovate.json
Due: none

docs: clean up README
  README.md
Due: none

chore: remove unused flake8 config
  .flake8
Due: none

build(config): enable pre-commit manager, group updates
  renovate.json
Due: none

build(deps): align kubernetes version with manifest.json
  pyproject.toml
Due: none

ci: add mypy and bandit steps
  .github/workflows/tests.yaml
Due: none

docs: add missing pages to navigation
  mkdocs.yaml
Due: none

chore: add version management and documentation instructions
  CLAUDE.md
Due: none

fix: resolve all mypy type errors
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  custom_components/kubernetes/translations/translations.py
Due: python-import-check

feat: add CPU and memory usage sensors for deployments and statefulsets
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  tests/test_sensors.py
Due: python-import-check

feat: add individual DaemonSet status sensors
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  tests/test_sensors.py
Due: python-import-check

chore: add test coverage instruction to CLAUDE.md
  CLAUDE.md
Due: none

chore: add instruction to auto-update CLAUDE.md
  CLAUDE.md
Due: none

feat: add readiness status sensors for deployments and statefulsets
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  tests/test_sensors.py
Due: python-import-check

chore(main): release 0.8.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

chore(docs): migrate from mkdocs to zensical
  .github/workflows/mkdocs.yaml
  CLAUDE.md
  mkdocs.yaml
  pyproject.toml
  zensical.toml
Due: none

build(deps): group ruff pip and pre-commit updates together
  renovate.json
Due: none

build(deps): fix pre-commit hook grouping for ruff, mypy and bandit
  renovate.json
Due: none

feat: add individual CronJob status sensors
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

feat: add node condition binary sensors
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/kubernetes_client.py
  tests/test_binary_sensor.py
Due: python-import-check

feat: add Kubernetes Jobs monitoring
  CLAUDE.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  tests/test_coordinator.py
  tests/test_sensors.py
Due: python-import-check

test: boost coverage to 80% threshold
  pyproject.toml
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_kubernetes_client.py
  tests/test_services.py
  tests/test_switch.py
Due: none

chore(main): release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

feat: add experimental Watch API with opt-in options flow
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
Due: python-import-check

test: add Watch API coverage
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_kubernetes_client.py
Due: none

chore: restructure manifests and update docs
  CLAUDE.md
  README.md
  docs/CONFIGURATION.md
  docs/RBAC.md
  manifests/clusterrole.yaml
  manifests/full/clusterrole.yaml
  manifests/full/clusterrolebinding.yaml
  manifests/full/serviceaccount-token-secret.yaml
  manifests/full/serviceaccount.yaml
  manifests/minimal/clusterrole.yaml
  manifests/minimal/clusterrolebinding.yaml
  manifests/minimal/serviceaccount-token-secret.yaml
  manifests/minimal/serviceaccount.yaml
Due: none

feat: add reconfigure flow for modifying existing integration entries
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  tests/test_config_flow.py
Due: python-import-check

fix(devcontainer): replace default_config with individual components in devcontainer
  .devcontainer/configuration.yaml
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

fix(tests): resolve options flow and coordinator test fixtures
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_init.py
  tests/test_kubernetes_client.py
Due: none

chore(main): release 0.10.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check
