Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


fix: look up the cluster device via async_get_device_by_identifier
  custom_components/kubernetes/device.py
  tests/test_init.py
Due: python-import-check

fix: keep last known server version and set it on first install
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/device.py
  tests/test_coordinator.py
  tests/test_init.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

feat: show Kubernetes version on the panel overview and cluster device
  CLAUDE.md
  README.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/device.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/websocket_api.py
  docs/CONFIGURATION.md
  docs/ENTITY_MANAGEMENT.md
  docs/RBAC.md
  frontend/src/views/k8s-overview.ts
  tests/k8s_compat/test_api_compat.py
  tests/test_coordinator.py
  tests/test_device.py
  tests/test_websocket_api.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

chore(main): release 1.13.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.13.0 changelog
  CHANGELOG.md
Due: none

build(deps): update dependency mypy to v2.4.0
  pyproject.toml
Due: none

build(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.4.0
  .pre-commit-config.yaml
Due: none

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.368
  pyproject.toml
Due: none

build(deps): update dependency zensical to v0.0.67
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.10
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update dependency zensical to v0.0.67 (#422)
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.10 (#423)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: send a single Bearer prefix from the official kubernetes client
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/kubernetes_client.py
  tests/test_config_flow.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

fix(deps): update dependency kubernetes to v37
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

chore(main): release 1.13.1
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix(deps): revert kubernetes to 36.0.3 so the integration installs on Home Assistant 2026.9
  .github/workflows/ha-requirements.yaml
  CLAUDE.md
  README.md
  custom_components/kubernetes/manifest.json
  docs/DEVELOPMENT.md
  hacs.json
  pyproject.toml
  scripts/check-ha-requirements.sh
Due: homeassistant-manifest-check

ci: pin setup-uv to an existing tag
  .github/workflows/ha-requirements.yaml
Due: none

chore(main): release 1.13.2
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

ci: close Renovate version-tracking gaps
  .devcontainer/setup.sh
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/k8s-compat.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/DEVELOPMENT.md
  renovate.json
Due: none

fix: treat an ERROR watch event with code 410 as an expired resourceVersion
  CLAUDE.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

test: pin that events before an ERROR watch event are still yielded
  tests/unit/test_kubernetes_client.py
Due: none

fix: treat an empty watch stream that closes at once as a failure
  CLAUDE.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  docs/CONFIGURATION.md
  tests/k8s_compat/test_api_compat.py
  tests/test_coordinator.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

ci: compact etcd before the kind suite so the expired-watch test is deterministic
  .github/workflows/k8s-compat.yaml
  CLAUDE.md
  tests/k8s_compat/test_api_compat.py
Due: none
