Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


fix: keep pods_count and watch fan-out consistent with the Job-pod filter
  custom_components/kubernetes/coordinator.py
  tests/test_coordinator.py
Due: python-import-check

test: cover exclude_job_pods option wiring and round-trip
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/kubernetes_client.py
  tests/test_config_flow.py
  tests/test_init.py
Due: python-import-check

docs: describe side effects of excluding Job pods
  CLAUDE.md
  docs/CONFIGURATION.md
  docs/ENTITIES.md
  docs/ENTITY_MANAGEMENT.md
Due: none

feat: exclude Job and CronJob pods from pod tracking by default
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  tests/unit/test_kubernetes_client.py
Due: python-import-check

chore(main): release 1.9.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.9.0 changelog
  CHANGELOG.md
Due: none

fix: emphasize that the API token is only a fallback in in-cluster mode
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
Due: python-import-check

test: cover the token-source debug log on client construction
  tests/test_in_cluster_auth.py
Due: none

docs: document in-cluster token precedence and the renamed checkbox
  CLAUDE.md
  README.md
  docs/CONFIGURATION.md
  docs/RBAC.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
Due: none

chore(main): release 1.9.1
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps-frontend): update frontend dev dependencies
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update frontend dev dependencies (#363)
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update ruff to v0.16.5
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.5 (#365)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.361
  pyproject.toml
Due: none

fix: drop deprecated device_registry.async_get_device usage
  custom_components/kubernetes/device.py
  tests/test_device.py
Due: python-import-check

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.361 (#364)
  custom_components/kubernetes/device.py
  pyproject.toml
  tests/test_device.py
Due: python-import-check

chore(main): release 1.9.2
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.362
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.362 (#367)
  pyproject.toml
Due: none

build(deps-frontend): update dependency eslint to ^10.10.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update dependency eslint to ^10.10.0 (#368)
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update ruff to v0.16.6
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.6 (#370)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.363
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.363 (#369)
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.364
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.364 (#371)
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.70.0
  frontend/package-lock.json
  frontend/package.json
Due: none
