Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


refactor(frontend): add K8sDataView base, shared styles and format utils
  frontend/package.json
  frontend/src/styles/shared.ts
  frontend/src/utils/format.ts
  frontend/src/views/base-view.ts
Due: none

ci(codeql): exclude the generated panel bundle from analysis
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  CLAUDE.md
Due: none

refactor(frontend): keep network ingress error across refreshes
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-workloads.ts
Due: none

docs: describe the panel's shared base view, minified bundle and typecheck
  .gitignore
  CLAUDE.md
  docs/DEVELOPMENT.md
Due: none

build(frontend): keep committed bundle byte-identical to vite output
  .pre-commit-config.yaml
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
Due: none

fix(frontend): focus confirm overlays so Escape closes them
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/base-view.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-workloads.ts
Due: none

build(frontend): minify bundle, add typecheck to CI and pre-commit, drop dead config
  .github/workflows/frontend.yaml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/kubernetes-panel.ts
  frontend/src/utils/load-ha-elements.ts
  frontend/src/views/k8s-workloads.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

refactor(frontend): migrate views onto K8sDataView and shared styles
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-settings.ts
  frontend/src/views/k8s-workloads.ts
Due: none

fix(frontend): only focus overlay when focus is outside it; strip bundle whitespace
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/eslint.config.js
  frontend/src/views/base-view.ts
  frontend/vite.config.ts
Due: none

refactor(frontend): dedupe workload cards, typed pod sort, action-error banner for pod delete
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/base-view.ts
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-workloads.ts
Due: none

refactor(sensor): share one count-sensor base and table-driven discovery
  CLAUDE.md
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

refactor(client): share the resource fetch loop and scale path, drop dead auth helpers
  CLAUDE.md
  custom_components/kubernetes/kubernetes_client.py
  docs/LOGGING.md
  tests/unit/test_kubernetes_client.py
Due: python-import-check

refactor: table-driven watch configs and websocket helpers, drop dead getters and constants
  CLAUDE.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/websocket_api.py
  tests/test_coordinator.py
  tests/test_kubernetes_integration.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_websocket_api.py
Due: python-import-check

refactor(config_flow): share the namespace form, drop the import lock and stale noqa
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/switch.py
  tests/test_config_flow.py
Due: python-import-check

docs: fix websocket command count, discovery test docstring, static-path comment
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  tests/test_sensors.py
Due: python-import-check

test: make websocket read-command e2e serialisable, cover successful kubernetes import
  tests/test_config_flow.py
  tests/test_websocket_api.py
Due: none

build: tidy pytest/pre-commit/ruff config, pin zensical, set iot_class to local_push
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/event.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/manifest.json
  custom_components/kubernetes/metrics_parser.py
  custom_components/kubernetes/services.py
  pyproject.toml
  tests/test_binary_sensor.py
  tests/test_coordinator.py
  tests/test_in_cluster_auth.py
  tests/test_services.py
Due: homeassistant-manifest-check, python-import-check

test: add conftest factories for entries and coordinators, drop duplicated integration tests
  CLAUDE.md
  docs/DEVELOPMENT.md
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_coordinator.py
  tests/test_device.py
  tests/test_diagnostics.py
  tests/test_event.py
  tests/test_init.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_system_health.py
  tests/test_websocket_api.py
Due: none

test(client): one aiohttp mock factory, parametrised list/count cases
  tests/unit/test_kubernetes_client.py
Due: none

test: shared config-flow patch fixture, sensor identity table, service state helper, websocket read-command e2e
  pyproject.toml
  tests/test_config_flow.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_websocket_api.py
Due: none

test: drop dead factory kwargs and GET payload in scale test, fix CLAUDE.md fixture note
  CLAUDE.md
  tests/conftest.py
  tests/unit/test_kubernetes_client.py
Due: none

build: keep warnings-as-errors in pytest config
  pyproject.toml
Due: none

test(k8s-compat): exercise scale, start/stop, pod deletion, cronjob trigger and pod metrics
  CLAUDE.md
  tests/k8s_compat/test_api_compat.py
Due: none

test(k8s-compat): always restore cluster state after mutation tests
  tests/k8s_compat/test_api_compat.py
Due: none

test: keep conftest free of package imports when Home Assistant is absent
  tests/conftest.py
Due: none

test: keep conftest importable without Home Assistant, give config-flow tests the real ApiException
  tests/conftest.py
  tests/test_config_flow.py
Due: none
