Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


test: cover multi-container first-wins for pod container-state
  tests/unit/test_kubernetes_client.py
Due: none

feat: surface pod container-state reasons (CrashLoopBackOff/OOMKilled/pending) + problem flag
  custom_components/kubernetes/kubernetes_client.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

docs: clarify pod container-state attrs reflect the first matching container (init containers not inspected)
  docs/ENTITIES.md
Due: none

docs: document pod container-state attributes and problem flag
  CLAUDE.md
  README.md
  docs/ENTITIES.md
Due: none

test: cover pending pod with non-failing PodScheduled condition
  tests/unit/test_kubernetes_client.py
Due: none

feat: add enable_events / event_types config options
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  tests/test_config_flow.py
Due: python-import-check

feat: add Kubernetes cluster event platform (EventEntity)
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/event.py
  tests/test_event.py
Due: python-import-check

feat: coordinator event-watch loop dispatching cluster events
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  tests/test_coordinator.py
Due: python-import-check

docs: document the cluster event platform and options
  CLAUDE.md
  README.md
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/ENTITIES.md
Due: none

test: cover event-watch start, repair-issue, and stop/backoff paths
  tests/test_coordinator.py
  tests/test_init.py
Due: none

test: update test_constants for the event platform (4 platforms)
  tests/test_init.py
Due: none

fix: event_types dropdown selector + per-namespace event repair key; clarify watch/event wording and recurring events
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
  docs/ENTITIES.md
Due: python-import-check

fix: key state-watch repair issue per (resource_type, url)
  CLAUDE.md
  custom_components/kubernetes/coordinator.py
  tests/test_coordinator.py
Due: python-import-check

refactor: rename _sync_watch_repair_issue param to loop_key
  custom_components/kubernetes/coordinator.py
Due: python-import-check

chore(main): release 1.4.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.4.0 changelog for end users
  CHANGELOG.md
Due: none

ci: skip redundant main re-runs, path-filter docs deploy, cancel superseded PR runs
  .github/workflows/frontend.yaml
  .github/workflows/mkdocs.yaml
  .github/workflows/tests.yaml
Due: none

build(deps-frontend): update frontend dev dependencies
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update homeassistant to v0.13.345
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.63.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update mypy to v2.2.0
  pyproject.toml
Due: none

build(deps): update mypy to v2.2.0
  .pre-commit-config.yaml
Due: none

build(deps-frontend): update frontend dev dependencies to v7
  frontend/package-lock.json
  frontend/package.json
Due: none
