Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


fix: treat an empty watch stream that closes at once as a failure
  CLAUDE.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  docs/CONFIGURATION.md
  tests/k8s_compat/test_api_compat.py
  tests/test_coordinator.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

ci: compact etcd before the kind suite so the expired-watch test is deterministic
  .github/workflows/k8s-compat.yaml
  CLAUDE.md
  tests/k8s_compat/test_api_compat.py
Due: none

chore(main): release 1.13.3
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.371
  pyproject.toml
Due: none

build(deps): update dependency zensical to v0.0.69
  pyproject.toml
Due: none

build(deps): update dependency zensical to v0.0.69 (#436)
  pyproject.toml
Due: none

fix(deps): update dependency kubernetes to v37
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

fix: retry forbidden watches so a transient 403 clears on its own
  CLAUDE.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/RBAC.md
  docs/TROUBLESHOOTING.md
  tests/test_coordinator.py
  tests/test_repairs.py
Due: python-import-check

refactor: share the watch backoff delay between both loops
  CLAUDE.md
  custom_components/kubernetes/coordinator.py
Due: python-import-check

fix: make the API token optional while in-cluster mode is on
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/translations/en.json
  docs/SETUP.md
  tests/test_config_flow.py
Due: python-import-check

fix: report a missing API token as token_required
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/translations/en.json
  tests/test_config_flow.py
Due: python-import-check

build(deps): update ruff to v0.17.0
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(main): release 1.13.4
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): update dependency ruff to v0.17.0
  pyproject.toml
Due: none

ci(deps-actions): update astral-sh/setup-uv action to v10.3.0
  .github/workflows/ha-requirements.yaml
Due: none

ci(deps-actions): update astral-sh/setup-uv action to v10.3.0 (#442)
  .github/workflows/ha-requirements.yaml
Due: none

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

ci(deps): update dependency python to 3.15
  .github/workflows/k8s-compat.yaml
Due: none
