Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

ci(deps-actions): update dependency helm to v4.3.0
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

build(deps-actions): update dependency helm/helm to v4.3.0 (#377)
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

build(deps-frontend): update dependency vite to ^8.3.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update dependency vite to ^8.3.0 (#379)
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.365
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.365 (#380)
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.7
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.7 (#381)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps-frontend): update dependency prettier to ^3.9.7
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: replace deprecated via_device with via_device_id
  custom_components/kubernetes/device.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  tests/test_device.py
  tests/test_sensors.py
  tests/test_switch.py
Due: python-import-check

chore(main): release 1.10.1
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix: replace deprecated async_get_device with async_get_device_by_identifier
  custom_components/kubernetes/device.py
Due: python-import-check

ci: fail tests on HA deprecation warnings
  CLAUDE.md
  tests/conftest.py
Due: none

ci: add Kubernetes API compatibility tests with kind clusters
  .github/workflows/k8s-compat.yaml
  CLAUDE.md
  README.md
  docs/DEVELOPMENT.md
  docs/SETUP.md
  pyproject.toml
  renovate.json
  scripts/update-k8s-support-range.sh
  tests/k8s_compat/__init__.py
  tests/k8s_compat/conftest.py
  tests/k8s_compat/manifests/workloads.yaml
  tests/k8s_compat/test_api_compat.py
Due: none

chore(main): release 1.10.2
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

ci(deps-actions): update actions/setup-python action to v7
  .github/workflows/k8s-compat.yaml
Due: none

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.366
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.8
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.366 (#391)
  pyproject.toml
Due: none

feat(frontend): streamline network panel to match other views
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-network.ts
Due: none

feat(frontend): remove watch badge and add collapsible workload sections
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/websocket_api.py
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-workloads.ts
  tests/test_websocket_api.py
Due: python-import-check

feat(frontend): add ingress and service counts to overview panel
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/websocket_api.py
  frontend/src/views/k8s-overview.ts
  tests/test_websocket_api.py
Due: python-import-check

feat(frontend): add scale dialog for deployments and statefulsets
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-workloads.ts
Due: none

docs: add frontend view conventions to CLAUDE.md
  CLAUDE.md
Due: none

feat(frontend): add column visibility toggle to pods table
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-pods-table.ts
Due: none

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

