Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

test: drop dead factory kwargs and GET payload in scale test, fix CLAUDE.md fixture note
  CLAUDE.md
  tests/conftest.py
  tests/unit/test_kubernetes_client.py
Due: none

test(k8s-compat): exercise scale, start/stop, pod deletion, cronjob trigger and pod metrics
  CLAUDE.md
  tests/k8s_compat/test_api_compat.py
Due: none

test: keep conftest free of package imports when Home Assistant is absent
  tests/conftest.py
Due: none

test: add conftest factories for entries and coordinators, drop duplicated integration tests
  CLAUDE.md
  docs/DEVELOPMENT.md
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_coordinator.py
  tests/test_device.py
  tests/test_diagnostics.py
  tests/test_event.py
  tests/test_init.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_system_health.py
  tests/test_websocket_api.py
Due: none

fix: stop entity polling from forcing coordinator refreshes every 30 s
  CLAUDE.md
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/event.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  docs/CONFIGURATION.md
  docs/ENTITIES.md
  tests/test_binary_sensor.py
  tests/test_event.py
  tests/test_sensors.py
  tests/test_switch.py
Due: python-import-check

fix(switch): honour scale_cooldown in the coordinator listener
  CLAUDE.md
  custom_components/kubernetes/switch.py
  docs/CONFIGURATION.md
  tests/test_switch.py
Due: python-import-check

fix(switch): sync replica switch state on add; align scale_cooldown translations
  CLAUDE.md
  custom_components/kubernetes/switch.py
  custom_components/kubernetes/translations/en.json
  tests/test_switch.py
Due: python-import-check

chore: release 1.12.0
  CLAUDE.md
  docs/DEVELOPMENT.md
Due: none

chore(main): release 1.12.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.12.0 changelog
  CHANGELOG.md
Due: none

build(deps-actions): update dependency kubernetes/kubernetes to v1.37.1
  .github/workflows/k8s-compat.yaml
Due: none

build(deps-frontend): update frontend dev dependencies
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update frontend dev dependencies (#407)
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: use mounted in-cluster token from the first request and reauth on early 401
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  docs/RBAC.md
  tests/test_coordinator.py
  tests/test_in_cluster_auth.py
  tests/test_init.py
Due: python-import-check

chore(main): release 1.12.1
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

chore(Renovate): group kubernetes/kubernetes pin separately from patch updates
  CLAUDE.md
  renovate.json
Due: none

build(deps): update ruff to v0.16.9
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update dependency zensical to v0.0.65
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.367
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.71.0
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(panel): make overview count cards navigate to the matching tab
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  docs/CONFIGURATION.md
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-workloads.ts
Due: none

refactor(panel): type NavigateDetail as a discriminated union
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-workloads.ts
Due: none

feat: show Kubernetes version on the panel overview and cluster device
  CLAUDE.md
  README.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/device.py
  custom_components/kubernetes/frontend/kubernetes-panel.js
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/websocket_api.py
  docs/CONFIGURATION.md
  docs/ENTITY_MANAGEMENT.md
  docs/RBAC.md
  frontend/src/views/k8s-overview.ts
  tests/k8s_compat/test_api_compat.py
  tests/test_coordinator.py
  tests/test_device.py
  tests/test_websocket_api.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

fix: keep last known server version and set it on first install
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/device.py
  tests/test_coordinator.py
  tests/test_init.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

