Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$


feat(frontend): add column visibility toggle to pods table
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-pods-table.ts
Due: none

feat(frontend): add scale dialog for deployments and statefulsets
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-workloads.ts
Due: none

chore(main): release 1.11.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix(client): raise on API failures so outages never prune entities
  CLAUDE.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  docs/TROUBLESHOOTING.md
  tests/test_coordinator.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

fix(switch): build initial switches from coordinator data, not the client
  CLAUDE.md
  custom_components/kubernetes/switch.py
  tests/test_switch.py
Due: python-import-check

fix(frontend): copy before sort, track reload timers, keyboard access for clickable rows
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/kubernetes-panel.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-workloads.ts
Due: none

fix(client): read the in-cluster token off the event loop
  CLAUDE.md
  custom_components/kubernetes/kubernetes_client.py
  tests/test_in_cluster_auth.py
Due: python-import-check

fix(client): guarantee a fresh token read on the 401 retry
  custom_components/kubernetes/kubernetes_client.py
  tests/test_in_cluster_auth.py
Due: python-import-check

fix(client): drop dead async_refresh_token, document retry-at-start behaviour
  CLAUDE.md
  custom_components/kubernetes/kubernetes_client.py
  docs/TROUBLESHOOTING.md
  tests/test_in_cluster_auth.py
Due: python-import-check

test(client): cover re-raise paths for workload list/count methods
  tests/unit/test_kubernetes_client.py
Due: none

docs: finish switch entity ID normalization in examples
  docs/CRONJOBS.md
  docs/EXAMPLES.md
  examples/configuration.yaml
Due: none

docs: correct entity IDs and attributes, add CronJob sensor section
  docs/CONFIGURATION.md
  docs/CRONJOBS.md
  docs/ENTITIES.md
  docs/EXAMPLES.md
  examples/configuration.yaml
Due: none

docs(services): use full switch entity IDs in examples
  docs/SERVICES.md
Due: none

docs: align RBAC matrix and permission notes with the chart
  docs/RBAC.md
  docs/SERVICES.md
  docs/SETUP.md
Due: none

fix(services): expose entry_id on workload services, fix translations and stale docs claims
  CLAUDE.md
  README.md
  custom_components/kubernetes/services.yaml
  custom_components/kubernetes/translations/en.json
  docs/SERVICES.md
  docs/index.md
  pyproject.toml
Due: none

docs(examples): fix stale node attribute keys and node-selection filters
  docs/EXAMPLES.md
Due: none

docs: fix switch entity IDs and example filters
  docs/CRONJOBS.md
  docs/ENTITIES.md
  docs/ENTITY_MANAGEMENT.md
  docs/EXAMPLES.md
  docs/SERVICES.md
  examples/configuration.yaml
Due: none

refactor(frontend): migrate views onto K8sDataView and shared styles
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-nodes-table.ts
  frontend/src/views/k8s-overview.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-settings.ts
  frontend/src/views/k8s-workloads.ts
Due: none

docs: describe the panel's shared base view, minified bundle and typecheck
  .gitignore
  CLAUDE.md
  docs/DEVELOPMENT.md
Due: none

fix(frontend): only focus overlay when focus is outside it; strip bundle whitespace
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/eslint.config.js
  frontend/src/views/base-view.ts
  frontend/vite.config.ts
Due: none

fix(frontend): focus confirm overlays so Escape closes them
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/base-view.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-workloads.ts
Due: none

build(frontend): keep committed bundle byte-identical to vite output
  .pre-commit-config.yaml
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
Due: none

build(frontend): minify bundle, add typecheck to CI and pre-commit, drop dead config
  .github/workflows/frontend.yaml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/kubernetes-panel.ts
  frontend/src/utils/load-ha-elements.ts
  frontend/src/views/k8s-workloads.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

refactor(frontend): keep network ingress error across refreshes
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-workloads.ts
Due: none

refactor(frontend): dedupe workload cards, typed pod sort, action-error banner for pod delete
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/base-view.ts
  frontend/src/views/k8s-network.ts
  frontend/src/views/k8s-pods-table.ts
  frontend/src/views/k8s-workloads.ts
Due: none
