Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

build(deps-frontend): update frontend dev dependencies
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.333
  pyproject.toml
Due: none

build(deps): update ruff to v0.15.14
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.60.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update dependency eslint to ^10.4.1
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.334
  pyproject.toml
Due: none

build(deps): update ruff to v0.15.15
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(deps): update dependency kubernetes to v36.0.1
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): lock file maintenance
  frontend/package-lock.json
Due: none

chore(main): release 1.3.3
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.337
  pyproject.toml
Due: none

build(deps): update ruff to v0.15.16
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(deps): update dependency kubernetes to v36.0.2
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps-actions): update codecov/codecov-action action to v7
  .github/workflows/tests.yaml
Due: none

chore(main): release 1.3.4
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps-frontend): update frontend dev dependencies to ^8.61.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update frontend dev dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: bracket bare IPv6 host literals when building URLs (#264)
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/kubernetes_client.py
  tests/test_config_flow.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

refactor: use asyncio.get_running_loop() in _test_connection
  custom_components/kubernetes/config_flow.py
Due: python-import-check

fix(ssl): honor ca_cert in aiohttp API calls (#265)
  CLAUDE.md
  custom_components/kubernetes/kubernetes_client.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

