Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

chore(quality): set PARALLEL_UPDATES on all platforms, raise coverage gate to 95%
  CLAUDE.md
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/event.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  pyproject.toml
Due: python-import-check

feat(quality): register services at HA start and raise errors from service handlers
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/services.py
  docs/CRONJOBS.md
  docs/SERVICES.md
  tests/test_init.py
  tests/test_repairs.py
  tests/test_services.py
Due: python-import-check

test(services): cover failed deployment start in start_workload
  tests/test_services.py
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.67.0
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-frontend): update frontend dev dependencies to ^8.67.0 (#344)
  frontend/package-lock.json
  frontend/package.json
Due: none

refactor(quality): migrate per-entry storage to entry.runtime_data
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/diagnostics.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/switch.py
  custom_components/kubernetes/system_health.py
  custom_components/kubernetes/websocket_api.py
  docs/DEVELOPMENT.md
  tests/test_binary_sensor.py
  tests/test_diagnostics.py
  tests/test_init.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_system_health.py
  tests/test_websocket_api.py
Due: python-import-check

feat(quality): add reauthentication flow for invalid API tokens
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/LOGGING.md
  docs/TROUBLESHOOTING.md
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

docs: document Bronze/Silver quality scale compliance in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

feat(watch): mark Watch API stable and enable it by default
  CLAUDE.md
  README.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/ENTITIES.md
  docs/ENTITY_MANAGEMENT.md
  docs/RBAC.md
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_init.py
  tests/test_repairs.py
  tests/test_websocket_api.py
Due: python-import-check

feat(options): add data-collection opt-out for entities, metrics, and counts
  CLAUDE.md
  README.md
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/diagnostics.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/ENTITIES.md
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_diagnostics.py
  tests/test_sensors.py
  tests/unit/test_kubernetes_client.py
Due: python-import-check

chore(main): release 1.8.0
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: humanize 1.8.0 changelog
  CHANGELOG.md
Due: none

chore: add GitHub issue templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix(repairs): clear stale watch/metrics repair issues when their feature is disabled
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
  tests/test_init.py
  tests/test_repairs.py
Due: python-import-check

fix(panel): show update mode in settings instead of Watch API feature flag
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/src/views/k8s-settings.ts
Due: none

chore(main): release 1.8.1
  .release-please-manifest.json
  CHANGELOG.md
  chart/Chart.yaml
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps-actions): update dependency helm/helm to v4.2.4
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

ci(deps-actions): update dependency helm to v4.2.4
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

build(deps-actions): update dependency helm/helm to v4.2.4 (#352)
  .github/workflows/helm.yaml
  .github/workflows/release.yaml
Due: none

build(deps): update dependency pre-commit to v4.6.2
  pyproject.toml
Due: none

build(deps): update dependency pre-commit to v4.6.2 (#353)
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.356
  pyproject.toml
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.356 (#354)
  pyproject.toml
Due: none

build(deps): update mypy to v2.3.1
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update mypy to v2.3.1 (#355)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.3
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps): update ruff to v0.16.3 (#356)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: exclude Job and CronJob pods from pod tracking by default
  CLAUDE.md
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  tests/unit/test_kubernetes_client.py
Due: python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

