Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

test: cover repair issue create and dismiss
  tests/test_repairs.py
Due: none

feat: surface silent failures as repair issues
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/translations/en.json
Due: python-import-check

docs: list repair issues in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

feat: in-cluster ServiceAccount support (auto-fill + runtime refresh)
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
Due: python-import-check

test: cover in-cluster detection, pre-fill, and runtime token refresh
  tests/test_in_cluster_auth.py
Due: none

docs: document in-cluster ServiceAccount support
  CLAUDE.md
  README.md
  docs/RBAC.md
  docs/SETUP.md
Due: none

chore(main): release 1.3.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix(deps-frontend): lock file maintenance
  frontend/package-lock.json
Due: none

fix: ensure release-please bumps all versions in the frontend package-log.json
  .release-please-config.json
Due: none

chore(main): release 1.3.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

fix(deps): update dependency mypy to v2.1.0
  pyproject.toml
Due: none

fix(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.1.0
  .pre-commit-config.yaml
Due: none

chore: additional Renovate adjustments
  renovate.json
Due: none

fix(deps): update ruff to v0.15.13
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build(deps-frontend): update frontend dev dependencies
  custom_components/kubernetes/frontend/kubernetes-panel.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps): update ruff to v0.15.13
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(deps-frontend): update dependency lit to ^3.3.3
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(main): release 1.3.2
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: homeassistant-manifest-check

build(deps): lock file maintenance
  frontend/package-lock.json
Due: none

build(deps): update dependency pytest-homeassistant-custom-component to v0.13.331
  pyproject.toml
Due: none

fix(deps): update dependency kubernetes to v36
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

